<h1>About Bloccit</h1>
<img length=50px width=50px src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png">
<button class= social-btn>
  <%= link_to "Follow me on Twitter :)", "https://twitter.com/Wolferinesda", class: "social-btn" %>
</button>
